@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply font-sans text-neutral-900 bg-white;
  }

  h1,
  h2,
  h3,
  h4 {
    @apply font-serif;
  }
}

